<a href="https://colab.research.google.com/github/DurgalakshmiU/durgaa_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [71]:
a="education background"
len(a)

20

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [72]:
sample_string ="google.com"
char1=sample_string.count('g')
char2=sample_string.count('o')
char3=sample_string.count('l')
char4=sample_string.count('e')
char5=sample_string.count('.')
char6=sample_string.count('c')
char7=sample_string.count('m')

print('g:' + str (char1),'o:' + str (char2),'l:' + str (char3), 'e:' + str (char4),'.'+ str (char5), 'c:' + str (char6), 'm:' + str (char7))

g:2 o:3 l:1 e:1 .1 c:1 m:1

(3) Write a Python program to sum all the items in a list. (2 points)

In [73]:
sum=0
lista=[29,9,19,22,20,18,17,25]
b=len(lista)
for num in range(0,b):
    sum=sum+lista[num]
    
print("sum of all items in a list: ",sum)

sum of all items in a list:  159

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [74]:
a='restart'.replace('r','$')
a.replace('$','r',1)

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [75]:
a=50
b=2
c=(1+a/b)**3
S=3.14*c
print("Result of S: ",S)

Result of S:  55188.64

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [76]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic4=dic1
print("Result: ",dic4)

Result:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [77]:
tuplea=(29,2,3,4,9,19)
element=int(input("enter a element: "))
if element in tuplea:
       print("element exists in tuple")
else:
       print("element doesn't exists in tuple")

enter a element: 29
element exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [79]:
seta={1,2,3,20,11,9,22,211}
a=max(seta)
b=min(seta)
print("Maximum Value: ",a)
print("Minimum Value: ",b)

Maximum Value:  211
Minimum Value:  1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [81]:

Student_list=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159','msp0174','dd0420','ds0761','rs0850','ss19995','at0739','at0768','mv0299','tv0119','dy0091']
def divide_groups(l,n):
    for i in range(0,len(l),n):
  
        yield l[i:i + n]
n=5
x=list (divide_groups(Student_list,n))
print(x)

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135'], ['nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761'], ['rs0850', 'ss19995', 'at0739', 'at0768', 'mv0299'], ['tv0119', 'dy0091']]