<a href="https://colab.research.google.com/github/DurgalakshmiU/durgaa_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
def Rand(start,end,num):
    res =[]

    for j in range(num):
        res.append(random.randint(start,end))

    return res
num =12
start =1
end =100
a=Rand(start,end,num)
print(a)
a.sort()
print("Ascending order: ",a)
a.sort(reverse =True)
print("Descending order: ",a)
avg=sum(a)/num
print("Average: ",avg)

[43, 94, 53, 3, 52, 1, 28, 85, 59, 94, 77, 11]
Ascending order:  [1, 3, 11, 28, 43, 52, 53, 59, 77, 85, 94, 94]
Descending order:  [94, 94, 85, 77, 59, 53, 52, 43, 28, 11, 3, 1]
Average:  50.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
a,b=str (input("Enter sentence1: ")),str (input("Enter sentence2:"))
alphanumeric=""
print(a.split(),b.split())
str1_w=set (a.split())
str2_w=set (b.split())
common=str1_w & str2_w
print("List of words that occur in both sentences: ",common)
for char in b:
  if char.isalnum():
    alphanumeric += char

print("After removing punctuation:",alphanumeric)
lowercase1=a.lower()
lowercase2=b.lower()
vowel_counts1 ={}
vowel_counts2={}
for vowel in "aeiou":
  count=lowercase1.count(vowel)
  vowel_counts1[vowel]=count
  count=lowercase2.count(vowel)
  vowel_counts2[vowel]=count
print("Vowels in sentence1:",vowel_counts1,"Vowels in sentence2:",vowel_counts2)

Enter sentence1: always try hard
Enter sentence2:work hard , get job always be happy
['always', 'try', 'hard'] ['work', 'hard', ',', 'get', 'job', 'always', 'be', 'happy']
List of words that occur in both sentences:  {'hard', 'always'}
After removing punctuation: workhardgetjobalwaysbehappy
Vowels in sentence1: {'a': 3, 'e': 0, 'i': 0, 'o': 0, 'u': 0} Vowels in sentence2: {'a': 4, 'e': 2, 'i': 0, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
title1="r"
title2="V"
print("%-7s %-7s" %(title1,title2))
for r in range(1,10):
   V=(4/3)*3.14*r**3
   print("%-7d %-7f"%(r,V))

r       V
1       4.186667
2       33.493333
3       113.040000
4       267.946667
5       523.333333
6       904.320000
7       1436.026667
8       2143.573333
9       3052.080000

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [127]:
f=open('Assignment1_denton_housing.csv','r')
content=f.read()
print(content)
content_list=content.split(",")
print(content_list)
import csv
import pandas as pd
import statistics

a=pd.read_csv("Assignment1_denton_housing.csv")
print(a)
data=a
df=pd.DataFrame(data)
b=abs(df.iloc[2][2]-df.iloc[5][2])
c=abs(df.iloc[5][2]-df.iloc[8][2])
d=abs(df.iloc[8][2]-df.iloc[11][2])
e=abs(df.iloc[11][2]-df.iloc[14][2])
f=abs(df.iloc[14][2]-df.iloc[17][2])
g=abs(df.iloc[17][2]-df.iloc[20][2])



P=[b,c,d,e,f,g]
print("Ascending order: ",sorted(P))
v1=float((df.iloc[1][2]/df.iloc[0][2])*100)
v2=float((df.iloc[4][2]/df.iloc[3][2])*100)
v3=float((df.iloc[7][2]/df.iloc[6][2])*100)
v4=float((df.iloc[10][2]/df.iloc[9][2])*100)
v5=float((df.iloc[13][2]/df.iloc[12][2])*100)
v6=float((df.iloc[16][2]/df.iloc[15][2])*100)
v7=float((df.iloc[19][2]/df.iloc[18][2])*100)

print("2008 {}% {}%".format(round(v7),round(v14)))
print("2009 {}% {}%".format(round(v6),round(v13)))
print("2010 {}% {}%".format(round(v5),round(v12)))
print("2011 {}% {}%".format(round(v4),round(v11)))
print("2012 {}% {}%".format(round(v3),round(v10)))
print("2013 {}% {}%".format(round(v2),round(v9)))
print("2014 {}% {}%".format(round(v1),round(v8)))
v8=float((df.iloc[2][2]/df.iloc[0][2])*100)
v9=float((df.iloc[5][2]/df.iloc[3][2])*100)
v10=float((df.iloc[8][2]/df.iloc[6][2])*100)
v11=float((df.iloc[11][2]/df.iloc[9][2])*100)
v12=float((df.iloc[14][2]/df.iloc[12][2])*100)
v13=float((df.iloc[17][2]/df.iloc[15][2])*100)
v14=float((df.iloc[20][2]/df.iloc[18][2])*100)
SV=[df.iloc[1][2],df.iloc[4][2],df.iloc[7][2],df.iloc[10][2],df.iloc[13][2],df.iloc[16][2],df.iloc[19][2]]
maximum1=max(SV)
DV=[df.iloc[2][2],df.iloc[5][2],df.iloc[8][2],df.iloc[11][2],df.iloc[14][2],df.iloc[17][2],df.iloc[20][2]]
maximum2=max(DV)                                                                                  
print("                               year  value ")        
print("Vacant Housing Units           2008    {}".format(maximum1)) 
print("Occupied Housing Units         2014    {}".format(maximum2))                                                                                                                                                                                 
I=[df.iloc[0][2],df.iloc[3][2],df.iloc[6][2],df.iloc[9][2],df.iloc[12][2],df.iloc[15][2],df.iloc[18][2],df.iloc[3][2]]
print("Harmonic Mean is % s " % (statistics.harmonic_mean(I)))

year,title_field,value
2014,Total Housing Units,49109
2014,Vacant Housing Units,2814
2014,Occupied Housing Units,46295
2013,Total Housing Units,47888
2013,Vacant Housing Units,4215
2013,Occupied Housing Units,43673
2012,Total Housing Units,45121
2012,Vacant Housing Units,3013
2012,Occupied Housing Units,42108
2011,Total Housing Units,44917
2011,Vacant Housing Units,4213
2011,Occupied Housing Units,40704
2010,Total Housing Units,44642
2010,Vacant Housing Units,3635
2010,Occupied Housing Units,41007
2009,Total Housing Units,39499
2009,Vacant Housing Units,3583
2009,Occupied Housing Units,35916
2008,Total Housing Units,41194
2008,Vacant Housing Units,4483
2008,Occupied Housing Units,36711
2014,Owner Occupied,21427
2014,Renter Occupied,24868
2013,Owner Occupied,20845
2013,Renter Occupied,22828
2012,Owner Occupied,20068
2012,Renter Occupied,22040
2011,Owner Occupied,18478
2011,Renter Occupied,22226
2010,Owner Occupied,18867
2010,Renter Occupied,22140
2009,Owner Occupied,18057
2009,Renter Occupied,17859
2008,Owner Occupied,17340
2008,Renter Occupied,19371
2014,Median Gross Rent,905
2013,Median Gross Rent,887
2012,Median Gross Rent,842
2011,Median Gross Rent,821
2010,Median Gross Rent,780
2009,Median Gross Rent,769
2008,Median Gross Rent,768

['year', 'title_field', 'value\n2014', 'Total Housing Units', '49109\n2014', 'Vacant Housing Units', '2814\n2014', 'Occupied Housing Units', '46295\n2013', 'Total Housing Units', '47888\n2013', 'Vacant Housing Units', '4215\n2013', 'Occupied Housing Units', '43673\n2012', 'Total Housing Units', '45121\n2012', 'Vacant Housing Units', '3013\n2012', 'Occupied Housing Units', '42108\n2011', 'Total Housing Units', '44917\n2011', 'Vacant Housing Units', '4213\n2011', 'Occupied Housing Units', '40704\n2010', 'Total Housing Units', '44642\n2010', 'Vacant Housing Units', '3635\n2010', 'Occupied Housing Units', '41007\n2009', 'Total Housing Units', '39499\n2009', 'Vacant Housing Units', '3583\n2009', 'Occupied Housing Units', '35916\n2008', 'Total Housing Units', '41194\n2008', 'Vacant Housing Units', '4483\n2008', 'Occupied Housing Units', '36711\n2014', 'Owner Occupied', '21427\n2014', 'Renter Occupied', '24868\n2013', 'Owner Occupied', '20845\n2013', 'Renter Occupied', '22828\n2012', 'Owner Occupied', '20068\n2012', 'Renter Occupied', '22040\n2011', 'Owner Occupied', '18478\n2011', 'Renter Occupied', '22226\n2010', 'Owner Occupied', '18867\n2010', 'Renter Occupied', '22140\n2009', 'Owner Occupied', '18057\n2009', 'Renter Occupied', '17859\n2008', 'Owner Occupied', '17340\n2008', 'Renter Occupied', '19371\n2014', 'Median Gross Rent', '905\n2013', 'Median Gross Rent', '887\n2012', 'Median Gross Rent', '842\n2011', 'Median Gross Rent', '821\n2010', 'Median Gross Rent', '780\n2009', 'Median Gross Rent', '769\n2008', 'Median Gross Rent', '768\n']
    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768
Ascending order:  [303, 795, 1404, 1565, 2622, 5091]
2008 11% 89%
2009 9% 91%
2010 8% 92%
2011 9% 91%
2012 7% 93%
2013 9% 91%
2014 6% 94%
                               year  value
Vacant Housing Units           2008    4483
Occupied Housing Units         2014    46295
Harmonic Mean is 44806.42957202384